<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<!-- movile friendly -->
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Erikas website</title>
		<!-- css -->
    <link href="/style.css" rel="stylesheet">
		<%# animate%>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css">

		<!-- jquery -->
		<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>

		<!-- Google fonts -->
		<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Dancing+Script|Pacifico" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Londrina+Outline|Nunito" rel="stylesheet">
		<!-- Google icon -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<%# portafolio animation plugin %>
		<link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>

		<!-- materialize CSS -->
  	<%# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">%>

		<%# Material Design Bootstrap%>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.1.1/css/mdb.min.css" />

		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<%# material Design Bootsrap%>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.1.1/js/mdb.min.js"></script>

		<!-- Bootstrap core JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

		<!-- fontawesome -->
		<script src="https://use.fontawesome.com/405a0adae2.js"></script>

		<%# <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>%>
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.1.0/velocity.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.1.0/velocity.ui.js"></script>

		<!-- main js file -->
		<script src="../main.js"></script>
	</head>


	<body id="body-index">
		<!-- ================================================================ -->
		<!-- preloader -->
		<!-- ================================================================ -->

		<div id="preloader">
			<div class="loder-box">
				<div class="battery"></div>
			</div>
		</div>

		<!-- ================================================================ -->
		<!-- header section -->
		<!-- ================================================================ -->

		<header>
			<aside>
				<div class="overlay-navigation">
				  <nav class="overlay-navigation">
				    <ul>
				      <li><a href="#mainPage" data-content="The beginning">Home</a></li>
							<li><a href="#" data-content="Only the finest">Projects</a></li>
							<li><a href="#skills" data-content="Let me tell you my story">Blog</a></li>
				      <li><a href="#about" data-content="Curious?">About</a></li>
				      <li><a href="#" data-content="Don't hesitate">Contact</a></li>
				    </ul>
				  </nav>
				</div>

			<section class="home">
			  <div class="open-overlay">
			    <span class="bar-top"></span>
			    <span class="bar-middle"></span>
			    <span class="bar-bottom"></span>
			  </div>
			</section>


		<div id="mainPage" class="content-holder" style="opacity: 1; transform: translateY(0px); margin:0px;" data-natural-width="2560">
					<div class="parallax-window" data-depth="0.00" data-parallax="scroll" data-image-src="/css/img/background.jpeg">
						<div class="parallax-window" data-depth="0.20" data-parallax="scroll" data-image-src="/css/img/background.jpeg">
							<div class="parallax-window" data-depth="1.00" data-parallax="scroll" data-image-src="/css/img/background.jpeg">
							</div>

							<h1 class="legend text-center effect-shadow-multiple">Erika Angarita Hormaza</h1>
							<div class="legend full-stack text-center animated tada">Full-Stack Web Developer<br>
								<div class="arrow bounce">
								<a href="#about"><i class="fa fa-angle-double-down fa-2x arrow" aria-hidden="true"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</aside>
</header>

<!--================================================================ -->
<!-- about-me -->
<!-- ================================================================ -->

	<section class="section team-section" id="about">
    <h1 class="section-heading text-center">About Me</h1>
    	<div class="row">
        <div class="container">
            <div class="col-md-4">
								<div class="avatar">
                    <img class="aboutErika animated fadeInUp wow img-fluid z-depth-2" src="/css/img/erika.jpg" alt="Responsive image">
									</div>
            	</div>

            <div class="col-md-6">
              <h3>Erika Angarita</h3>
                <h5>Web Developer</h5>
									<p class="about_text">Hi, I'm Erika an Austin based Full-Stack Web Developer. Officially, my job is to build beautiful and functional websites. But really what I do is create elegant, clean websites that you are going to love and will get the results that you are looking for. I work in JavaScript, Html, CSS and more.</p>
										<p class="about_text">If you can dream it I can build it. Follow me, send me an email or read my blog
										</p>

								<div class="row col-md-8 social-btns text-center">
									<a class="icons-sm"><i class="fa fa-2x fa-comment" aria-hidden="true"></i></a>
                	<a class="icons-sm tw-ic" data-toggle="tooltip" data-placement="top" title="New Address" data-original-title="New Address"><i class="fa fa-2x fa-twitter"></i></a>
                	<a class="icons-sm git-ic"><i class="fa fa-2x fa-github"> </i></a>
									<a class="icons-sm gplus-ic"><i class="fa fa-2x fa-linkedin" aria-hidden="true"></i></a>
							</div>
            </div>
        </div>
    </div>
</section>


<!--================================================================ -->
<%# Portfolio%>
<!--================================================================ -->

	<section class="section extra-margins">
		<div class="container">
	    <h1 class="section-heading text-center">Portfolio</h1>
	    	<p class="section-description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

				  <div class="row">
	        	<div class="col-md-6 m-b-r">
							<div class="view hm-zoom">
	            <img src="/css/img/byob.png" alt="" class="img-fluid z-depth-2">
	        </div>
				</div>


        <div class="col-md-5 col-md-offset-1">

					<div class="row">
						<div class="col-xs-1 m-r-1">
							<i class="fa fa-beer fa-2x"></i>
						</div>

							<div class="col-xs-10">
									<h4 class="feature-title"> BYOB</h4>
									<p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
							</div>
					</div>

            <div class="row">
                <div class="col-xs-1 m-r-1">
                    <i class="fa fa-bank fa-2x cyan-text"></i>
                </div>

                <div class="col-xs-10">
                    <h4 class="feature-title">Safety</h4>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
                </div>
            </div>

            <div style="height:20px"></div>
            	<div class="row">
                <div class="col-xs-1 m-r-1">
                    <i class="fa fa-code fa-2x indigo-text"></i>
                </div>

                <div class="col-xs-10">
                    <h4 class="feature-title">Technology</h4>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
                </div>
            </div>

            <div style="height:20px"></div>
            	<%# <div class="row">
                <div class="col-xs-1 m-r-1">
                    <i class="fa fa-money fa-2x blue-text"></i>
                </div>

                <div class="col-xs-10">
                    <h4 class="feature-title">Finance</h4>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
                </div>
            </div>%>
        </div>
    </div>

    <div style="height:70px">
        <hr class="hidden-md-up">
    </div>

<%# =============================%>
<%# PuppyLink%>
<%# =============================%>

    <div class="row">
        <div class="col-md-5 m-b-r">

            <div class="row">
							<div class="col-xs-1 m-r-1">
									<i class="fa fa-code fa-2x indigo-text"></i>
							</div>

								<div class="col-xs-10">
                    <h4 class="feature-title"> Technology</h4>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
                </div>
            </div>

            <div style="height:20px"></div>
            	<div class="row">
                <div class="col-xs-1 m-r-1">
                    <i class="fa fa-heart-o fa-2x pink-text"></i>
                </div>

                <div class="col-xs-10">
                    <h4 class="feature-title">Entertainment</h4>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
                </div>
            </div>

            <div style="height:20px"></div>
            	<div class="row">
                <div class="col-xs-1 m-r-1">
                    <i class="fa fa-smile-o fa-2x amber-text"></i>
                </div>

                <div class="col-xs-10">
                    <h4 class="feature-title">Communication</h4>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
                </div>
            </div>
        </div>

        <div class="col-md-6  col-md-offset-1 m-b-2">
					<div class="view hm-zoom">
            <img src="/css/img/puplink.png" alt="" class="img-fluid z-depth-2">
        </div>
				</div>
    	</div>
		</div>
	</section>



<%#
<h1 class="text-center">Portfolio</h1>

<!--Start your project here-->
<div class="container my-projects">
    <div class="row">
        <div class="col-md-6 project-card">
            <div class="card">
              <div class="view overlay hm-white-slight z-depth-2">
                <img src="/css/img/puplink.png" class="img-fluid" alt="">
                	<a>
                    <div class="mask"></div>
                  </a>
                </div>

								<div class="card-block">
									<h3><i class="fa fa-paw" aria-hidden="true"></i><a class="puppy-link" href="https://puppylink.herokuapp.com/"> PuppyLink</a></h3>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a class="btn btn-primary">Button</a>
                    </div>
									</div>
								</div>

								<div class="col-md-6 project-card">
				            <div class="card">
				              <div class="view overlay hm-white-slight">
				                <img src="/css/img/puplink.png" class="img-fluid" alt="">
				                	<a>
				                    <div class="mask"></div>
				                  </a>
				                </div>

												<div class="card-block">
													<h3><i class="fa fa-paw" aria-hidden="true"></i><a class="puppy-link" href="https://puppylink.herokuapp.com/"> PuppyLink</a></h3>
				                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				                    <a class="btn btn-primary">Button</a>
				                    </div>
													</div>
												</div>

												<div class="col-md-6 project-card">
								            <div class="card">
								              <div class="view overlay hm-white-slight">
								                <img src="/css/img/puplink.png" class="img-fluid" alt="">
								                	<a>
								                    <div class="mask"></div>
								                  </a>
								                </div>

																<div class="card-block">
																	<h3><i class="fa fa-paw" aria-hidden="true"></i><a class="puppy-link" href="https://puppylink.herokuapp.com/"> PuppyLink</a></h3>
								                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
								                    <a class="btn btn-primary">Button</a>
								                    </div>
																	</div>
																</div>
															</div>
														</div>




%>













<!--================================================================-->
<!-- Social section -->
<!-- ================================================================ -->
<%#
 <div id="social" class="content-holder st-scroll" style="opacity: 1; transform: translateY(0px); translateZ(-10px); margin:0px;" data-natural-width="2560">
		<div class="parallax-window" data-parallax="scroll" data-image-src="/css/img/social.jpeg"></div>
			<div class="parallax-slider">
				<h1 class="legend follow text-center">Follow Me</h1>
					<ul class="social-button">
						<li class=""><a href="https://twitter.com/erikillang20"><i class="fa fa-twitter fa-3x"></i></a></li>
						<li><a href="https://www.linkedin.com/in/erika-angarita"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a></li>
						<li><a href="https://github.com/erikang20"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a></li>
					</ul>
				</div>
			</div>
%>

		<!-- Modal Trigger -->
		  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Contact Me</a>
			  <div id="modal1" class="modal">
			    <div class="modal-content">
			      <h4>Contact Me </h4>
						<form class="col s12">
	        		<div class="input-field col s8">
	          		<input  id="name" type="text" class="validate">
	          			<label for="name">Your Name</label>
        			</div>

        			<div class="input-field col s8">
          			<input id="email" type="text" class="validate">
          				<label for="email">Your Email</label>
        				</div>

								<div class="input-field col s8">
	          			<input id="subject" type="text" class="validate">
	          				<label for="subject">Subject</label>
	        				</div>

								<div class="input-field col s8">
          				<textarea id="message" class="materialize-textarea"></textarea>
          					<label for="message">Message</label>
        					</div>
    						</form>
		    			</div>

		    		<div class="modal-footer">
		      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Submit</a>
		    </div>
		  </div>
		</div>



<%# <footer class="page-footer navbar-inverse" id="footer">
    	<div class="container">
    		<div class="footer-social">
    			<ul>
    				<li class="wow animated zoomIn" data-wow-delay="0.3s"><a href="https://twitter.com/erikillang20"><i class="fa fa-twitter fa-3x"></i></a></li>
    				<li class="wow animated zoomIn" data-wow-delay="0.3s"><a href="https://www.linkedin.com/in/erika-angarita"><i class="fa fa-linkedin fa-3x" aria-hidden="true"></i></a></li>
    			</ul>
    			<p class="copyright">Copyright &copy; 2016 Design and Developed By Erika Angarita</p>
    		</div>
    	</div>
    </footer>%>


		<!-- Compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

		<!-- parallax -->
		<%# <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>%>
	  <script src="/css/parallax.js-1.4.2/parallax.js"></script>

  </body>
</html>
